.Task {
    -webkit-box-shadow: 0px 2px 7px -3px #000000;
    box-shadow: 0px 2px 5px -3px #000000;
    font-size: 1.2rem;
    color: dimgrey;
    text-align: left;
    padding: 5px;
    margin: 5px;
    background: #e8e8e8;
    border: 1px solid grey;
    border-radius: 5px;
}

.Task:hover {
    -webkit-box-shadow: 0px 2px 7px -3px #000000;
    box-shadow: 0px 2px 7px -3px #000000;
}

.TaskTitle {
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.Specific {
    font-size: 1rem;
}
.Specific:hover {
    border-bottom: 1px solid rgba(0,0,0,.25);
}
input {
    width: 100%;
}
.todo-list {
    border-radius: 4px;
    padding: 5px;
}

.todo {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ButtonRed {
    background: red;
}

.ButtonGreen {
    background: green;
}

.ButtonAmber {
    background: orange;
}